body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 20px;
}

#grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 980px;
  justify-content: center;
}

.cols {
}
.cell {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: rgba(106, 106, 106, 0.05) solid 1px;
}

#inputs {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
